body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
}

.about-me-section {
    margin: o o 40px 0;
}

.about-my-profession {
    font-size: 14px;
    font-weight: 700;
    color: #000;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: o o 20px 0;
}

.main-section {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #FFF;
    margin: 40px auto;
}

.about-me-name {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin: 20px auto;
}

.main-info-section {
    padding: 100px 90px;
}

.main-content-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10 px;
}

.about-me-description {
    width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.my-projects-list {
    padding: 0 0 0 17px;
}

.my-rojects-item {
    color: #000000;
    font-weight: bold;
}

.my-projects-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 5px;
}

.my-projects-link {
    color: #595959;
}

.my-projects-bracket {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.about-my-projects {
    margin-bottom: 50px;
}

.company {
    color: #FB6D3A;
}

.my-work-position {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 0 0 10px 0;
}

.my-work-experience-period {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 10px 0;
}

.my-work-experience-divider {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.duties-list {
    padding-left: 0 0 18 0;
}

.my-duties-items {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.my-work-experience-company {
    margin: 0 0 15px 0;
}

.about-my-education {
    margin-top: 45px;
}

.main-content-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.university {
    color: #FB6D3A;
}

.education-speciality {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.my-study-period {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 10px 0;
}

.my-education-divider {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}


/* Sidebar_section */

.sidebar {
    background-color: #1E2939;
    width: 370px;
    padding-top: 40px;
}

.main-photo {
    height: 354px;
    width: 330px;
}

.main-photo img {
    width: 100%;
    height: 100%;
}

.contacts-section {
    padding-top: 50px;
    padding-left: 40px;
}

.tech-skills-section {
    padding-top: 50px;
    padding-left: 40px;
}

.soft-skills-section {
    padding-top: 45px;
    padding-left: 40px;
}

.sidebar-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    color: #FFFFFF;
    margin-bottom: 10px;
}


/* Contacts_section */

.contacts-section-type {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 7px;
    text-decoration: none;
}

.contacts-section-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #565e6a;
    text-decoration: none;
}


/* Skills_section */

.skills-class {
    padding: 0 0 0 13px;
}

.skills-item {
    color: #FB6D3A;
}

.skills-item-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    color: #FFFFFF;
}